<!DOCTYPE html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Writing assistant</title>
		<style type="text/css">
		</style>
		<!--[if lt IE 9]>
			<script type="text/javascript">alert("Your browser does not support the canvas tag.");</script>
		<![endif]-->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script>
			function newLetter() {
				var txt = $("#textInput").val();
				var pjs = Processing.getInstanceById('@@id@@');
				if (txt.charAt(txt.length-1)==' ') {
					var separators = [' ', '?', '(', ')',  ',', '.', '!', ';', '"', '\'', '\r', '\n'];
					var words = txt.split(new RegExp('[' + separators.join('') + ']', 'g'));
					for (var i=0;i<words.length;i++) {
						if (words[i].length==0) {
							words.splice(i,1);
							i--;
						}
					}
					if (words.length>3) words.splice(0,words.length-3);
					words.reverse();
					var newWord = pjs.wordSuggestionFor(words);
					$("#textInput").val($("#textInput").val()+newWord);
					words.reverse();
					// $("#debug").html(words+" -> "+newWord);
					var input = document.getElementById("textInput");
					input.setSelectionRange($("#textInput").val().length-newWord.length, $("#textInput").val().length);
					input.focus();
				} else {
					var separators = [' ', '?', '(', ')',  ',', '.', '!', ';', '"', '\'', '\r', '\n'];
					var words = txt.split(new RegExp('[' + separators.join('') + ']', 'g'));
					var lastWord = words[words.length-1];
					var newWord = pjs.wordCompletionFor(lastWord);
					$("#debug").html(newWord);
					$("#textInput").val($("#textInput").val()+newWord);
					var input = document.getElementById("textInput");
					input.setSelectionRange($("#textInput").val().length-newWord.length, $("#textInput").val().length);
					input.focus();
				}
			}
			
		</script>
		<script src="processing.js" type="text/javascript"></script>@@scripts@@
	</head>
	<body>
		<div id="content">
			<div>
				<canvas id="@@id@@" data-processing-sources="@@sketch@@.pde" width="@@width@@" height="@@height@@" style="display:none;" ><p>Your browser does not support the canvas tag.</p></canvas>
				<noscript><p>JavaScript is required to view the contents of this page.</p></noscript>
	    	</div>
			<textarea id="textInput" onkeyup="newLetter()" style="width:500px;height:500px;" ></textarea>
			<div id="debug"></id>
 		</div>
	</body>
</html>
